@font-face
{
  font-family: nokia;
  src: url(nokiafc22.ttf);
}


@font-face
{
  font-family: 'IBM Plex Mono';
  src: url(IBMPlexMono-Regular.ttf);
}

@font-face
{
  font-family: 'IBM Plex Mono';
  src: url(IBMPlexMono-Italic.ttf);
  font-style: italic;
}

@font-face
{
  font-family: 'IBM Plex Mono';
  src: url(IBMPlexMono-Bold.ttf);
  font-weight: bold;
}

@font-face
{
  font-family: 'IBM Plex Mono';
  src: url(IBMPlexMono-BoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}


@font-face
{
  font-family: ubuntuMono;
  src: url(UbuntuMono-R.ttf);
}

@font-face
{
  font-family: ubuntuMono;
  src: url(UbuntuMono-RI.ttf);
  font-style: italic;
}

@font-face
{
  font-family: ubuntuMono;
  src: url(UbuntuMono-B.ttf);
  font-weight: bold;
}

@font-face
{
  font-family: ubuntuMono;
  src: url(UbuntuMono-BI.ttf);
  font-style: italic;
  font-weight: bold;
}
